---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/icons/LinkedIn.astro";
import GitHubIcon from "@/icons/GitHub.astro";
import MailIcon from "@/icons/Mail.astro";
import Experience from "@/components/Experience.astro";
import BriefCaseIcon from "@/icons/BriefCase.astro";
import CodeIcon from "@/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import ProfileIcon from "@/icons/Profile.astro";
import AboutMe from "@/components/AboutMe.astro";
---

<Layout
	title="Portfolio de José Aqué"
	description="Portafolio personal de José Aqué, desarrollador y diseñador de software."
>
	<main class="px-4 md:px-44">
		<SectionContainer class="py-44 pb-32" id="top">
			<img
				class="rounded-full size-[70px] mb-6"
				src="https://avatars.githubusercontent.com/u/105752782?v=4&size=64"
				alt="José Aqué"
			/>
			<h1
				class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola!, soy José Aqué
				<a
					href="https://github.com/JoseAque"
					target="_blank"
					rel="noopener noreferrer"
					class="flex justify-center items-center"
					><Badge>+3 años de experiencia</Badge></a
				>
			</h1>
			<h2
				class="text-xl lg:text-2xl opacity-85 text-balance max-w-[700px]"
			>
				<span class="text-sky-300/90"
					>Desarrollador y diseñador de software</span
				>. Me especializo en crear soluciones digitales eficientes,
				escalables y centradas en el usuario.
				<span class="text-purple-300/80">Con base en México</span>.
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/joseaque">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JoseAque">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:jose.aque21@hotmail.com">
					<MailIcon class="size-4 md:size-6" />
					jose.aque21@hotmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<BriefCaseIcon class="size-7" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
				<ProfileIcon class="size-7" />
				Sobre mi
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
