<section class="flex gap-x-8 justify-center items-center">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-purple-300/80 [&>p>strong]:font-semibold text-pretty"
    >
        <p>
            Soy <strong
                >estudiante de Ingeniería en Sistemas Computacionales</strong
            >, con enfoque en el <strong>desarrollo de software</strong> y la creación
            de <strong
                >soluciones tecnológicas funcionales y bien estructuradas</strong
            >. A lo largo de mi formación he trabajado en proyectos que combinan <strong
                >teoría de lenguajes, compiladores e interfaces gráficas</strong
            >.
        </p>

        <p>
            Uno de los proyectos más retadores ha sido el desarrollo de un <strong
                >analizador semántico con interfaz gráfica</strong
            >, donde apliqué conocimientos de <strong
                >autómatas, estructuras de datos y lógica de programación</strong
            > para detectar errores de tipo y variables indefinidas en código fuente
            personalizado.
        </p>

        <p>
            Actualmente estoy ampliando mis habilidades en tecnologías como <strong
                >React, Node.js y bases de datos en la nube</strong
            >. Me interesa formar parte de equipos donde el <strong
                >diseño lógico, la eficiencia y el aprendizaje constante</strong
            > sean parte del proceso de desarrollo.
        </p>
    </div>
    <img
        src="https://avatars.githubusercontent.com/u/105752782?v=4&size=64"
        class="rounded-full size-64"
    />
</section>