<article class="flex flex-col items-center justify-center gap-8 opacity-85">

    <div
            class="[&>p]:mb-4 [&>p>strong]:text-purple-300/80 [&>p>strong]:font-normal text-justify order-2 md:order-1"
    >
        <p>
            Soy <strong
                >estudiante de Ingeniería en Sistemas Computacionales</strong
            >, con enfoque en el <strong>desarrollo de software</strong> y la creación
            de <strong
                >soluciones tecnológicas funcionales y bien estructuradas</strong
            >. A lo largo de mi formación he trabajado en proyectos que combinan <strong
                >teoría de lenguajes, compiladores e interfaces gráficas</strong
            >.
        </p>

        <p>
            Uno de los proyectos más retadores ha sido el desarrollo de un <strong
                >analizador semántico con interfaz gráfica</strong
            >, donde apliqué conocimientos de <strong
                >autómatas, estructuras de datos y lógica de programación</strong
            > para detectar errores de tipo y variables indefinidas en código fuente
            personalizado.
        </p>

        <p>
            Actualmente estoy ampliando mis habilidades en tecnologías como <strong
                >React, Node.js y bases de datos en la nube</strong
            >. Me interesa formar parte de equipos donde el <strong
                >diseño lógico, la eficiencia y el aprendizaje constante</strong
            > sean parte del proceso de desarrollo.
        </p>
    </div>
    <img
        src="https://avatars.githubusercontent.com/u/105752782?v=4&size=64"
        class="order-1 object-cover w-64 h-full p-1 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1  ring-white/20 " style="object-position: 50% 50%"
    />
</article>