---
import "@fontsource-variable/onest";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{description}" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-white">
    <div class="overflow-x-hidden relative h-full w-full bg-black">
      <!-- Fondo con líneas -->
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e.1px,transparent_1px),linear-gradient(to_bottom,#8080800a_.2px,transparent_1px)] bg-[size:20px_24px]"
      >
      </div>

      <!-- Fondo radial -->
      <div
        class="fixed inset-0 bg-[radial-gradient(circle_farthest-side,rgba(83,53,120,.30),rgba(255,255,255,0))]"
      >
      </div>

      <!-- Contenido encima del fondo -->
      <div class="relative z-10">
        <Header />
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: rgba(17, 17, 17, 0.9);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
